.avatar {
    margin-top: -70px;
    padding-bottom: 20px;
  }
  .avatar img {
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  }
  .box {
    margin-top: 5rem;
  }
  html,body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background: #F0F2F4;
  }
  .navbar.is-white {
    background: #F0F2F4;
  }
  .navbar-brand .brand-text {
    font-size: 1.11rem;
    font-weight: bold;
  }
